<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HTMX Users</title>
    <script crossorigin="anonymous"
            integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
            src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
            rel="stylesheet"
    >
</head>
<body class="container">

<div th:replace="~{userListFragment :: list}"></div>

<div th:replace="~{addUserForm :: addForm}"></div>
</body>
</html>
